 

.btn_log {
  padding: 14px 20px;
  margin: 0em 0em 0.5em 4em;
  width: auto;
  font-size: 18px; 
  border: 10px;
  background:  black;
  color: white;
  border-radius: 3px;
}

.text-muted {

  margin-left: 5%;
  color: black;
}

.checkbox {

  color: black;
}

